* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 10px;
}

.nav {
  background-color: rgba(5, 5, 5, 0.8549019608);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar-brand img {
  width: 70px;
  height: 100%;
  object-fit: cover;
}

.nav-item {
  padding: 20px;
  font-size: 20px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
}

.nav-link {
  color: #ffffff;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}

.nav-link:hover {
  color: #a56d38;
  border: 2px solid #ac5607;
  border-radius: 5px;
  padding: 3px;
}

.pie {
  background-color: rgba(26, 29, 29, 0.7725490196);
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h2 {
  color: rgb(2, 2, 2);
}

footer p {
  color: #ffffff;
}

.nav-list2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.redes {
  width: 50px;
  height: 50px;
}

.caja-media {
  background-image: url(../multimedia/foto1.png);
  background-repeat: no-repeat;
  background-color: #191919;
  padding: 10px;
  height: 700px;
  width: 100%;
}

.centre {
  background-color: rgba(25, 25, 25, 0.3647058824);
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.centre2 {
  background-color: rgba(25, 25, 25, 0.3647058824);
  color: #eee;
  text-align: justify;
  position: sticky;
  font-size: 20px;
  top: 70%;
  left: 30%;
  padding: 20px;
}

.centre2 a {
  text-decoration: none;
  background-color: #cca34b;
  border-radius: 5px;
  color: black;
  gap: 10px;
  padding: 2px;
}

/* MAIN */
.desc {
  width: 800px;
  text-align: justify;
  font-size: 25px;
  margin: 150px;
}

/*GALERIA*/
.cards {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.card {
  width: 90%;
  background-color: #eee;
  border: 2px solid black;
}

.card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.card__body {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__body h3 {
  font-size: 30px;
}

.card__body h4 {
  font-size: 30px;
}

.card__body p {
  font-size: 30px;
}

.card__body a {
  text-decoration: none;
  background-color: #b17d3a;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 80px;
  align-self: flex-end;
  text-align: center;
}

.c-row {
  display: flex;
  flex-direction: column;
  width: 81%;
}

/* CONTACTANOS */
.main-contacto h1 {
  background-color: rgba(25, 25, 25, 0.3647058824);
  text-align: center;
  padding: 20px 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #191919;
  padding: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

label {
  color: #eee;
  font-size: 24px;
}

input, textarea {
  width: 320px;
  padding: 5px;
  transition: 0.5s;
}

input:hover, textarea:hover {
  background-color: rgb(228, 216, 201);
  width: 300px;
}

.form-control:focus {
  background-color: #faebd7;
  outline: none;
  box-shadow: 4px 5px 13px 0px rgb(206, 167, 116);
  border: none;
}

.btn-primary {
  background-color: rgb(206, 167, 116);
  border: 2px solid rgb(253, 178, 80);
}

.btn:hover {
  background-color: rgb(160, 127, 84);
  border: 2px solid rgb(253, 178, 80);
}

.textarea {
  resize: none;
}

/* MAIN ABOUT */
.main-about h1 {
  text-align: center;
  padding: 20px 0;
}

.hijos {
  padding: 15px;
}

.hijos p {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0;
}

/* SERVICIOS*/
.grilla {
  background-color: rgba(0, 0, 0, 0.4196078431);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.caja {
  width: 100%;
  min-height: 400px;
  max-height: 100%;
}

.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%) blur(5px);
  transition: 0.4s;
}

.caja img:hover {
  filter: grayscale(0) blur(0);
}

.c1 {
  grid-area: area1;
}

.c2 {
  grid-area: area2;
}

.c3 {
  grid-area: area3;
}

.c4 {
  grid-area: area4;
}

.c5 {
  grid-area: area5;
}

.c6 {
  grid-area: area6;
}

.c7 {
  grid-area: area7;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #497777;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .media {
    background-color: #657749;
  }
}
/* MEDIA DE TABLET */
@media screen and (min-width: 600px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 24px;
  }
  .media {
    background-color: rgba(255, 255, 255, 0);
    flex-direction: row;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 35%;
    object-fit: cover;
  }
  .card__body {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
  }
  .c-row {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
}
/* MEDIA DE NOTEBOOK/DESKTOP */
@media screen and (min-width: 768px) {
  .media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "caja1 caja2" "caja3 caja3";
    gap: 20px;
    padding: 30px;
  }
  .centre {
    left: 55%;
  }
  .centre2 {
    text-align: justify;
    position: sticky;
    left: 45%;
    font-size: 25px;
  }
  .grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area6 area6 area1 area7" "area6 area6 area2 area7" "area4 area5 area3 area3" "area4 area5 area3 area3";
  }
  .c7 img, .c6 img {
    height: 100%;
  }
}
@media screen and (min-width: 1080px) {
  .centre {
    top: 45%;
    left: 73%;
  }
  .centre2 {
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
