.caja-media {
    background-image: url(../multimedia/foto1.png);
    background-repeat: no-repeat;
    background-color: #191919;
    padding: 10px;
    height: 700px;
    width: 100%;
}
.centre {
    background-color: #1919195d;
    position: absolute;
    text-align: center;
    font-style: italic;
    font-size: 60px;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.centre2{
    background-color: #1919195d;
    color: #eee;
    text-align: justify;
    position: sticky;
    font-size: 20px;
    top: 70%;
    left: 30%;
    padding: 20px;
}

.centre2 a {
    text-decoration: none;
    background-color: #cca34b;
    border-radius: 5px;
    color: black;
    gap: 10px;
    padding: 2px;

}
