@media screen and (min-width: 480px) {
    .media {
        background-color: #657749;
    }

}

/* MEDIA DE TABLET */

@media screen and (min-width: 600px) {

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 24px;
    }

    .media {
        background-color: #ffffff00;
        flex-direction: row;
    }
}

/* servicios */

/* MEDIA DE NOTEBOOK/DESKTOP */

@media screen and (min-width: 768px) {

    .media {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'caja1 caja2'
            'caja3 caja3';
        gap: 20px;
        padding: 30px;
    }

    .centre{
        top: 50%;
        left: 40%;
    }

    .centre2{
        text-align: justify;
        position: sticky;
        left: 45%;
        font-size: 25px;

    }
    .grilla {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'area6 area6 area1 area7'
            'area6 area6 area2 area7'
            'area4 area5 area3 area3'
            'area4 area5 area3 area3';
    }

    .c7 img, .c6 img {
        height: 100%;
    }
    
/*servicios*/

    .tarjetas {
        display: flex;
    }
}

/*footer*/



@media screen and (min-width: 1080px) {

.centre{
    top: 37%;
    left: 60%;

}
.centre2{
        text-align: justify;
        position: absolute;
        top: 50%;
        left: 45%;
        font-size: 25px;
}

.text-a {
    font-size: 30px;

}

}